<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Carrito</title>
</head>

<body>
    <div class="container">
        <h1>Carrito</h1>

        <p>Su carrito tiene el ID <%= cartId %>
        </p>

        <% if(cart.length===0){%>
            <p>El carrito no tiene productos.</p>
            <% }else{ cart.map((p)=>{ %>
                <p>
                    <%= p.name %>
                </p>
                <p>
                    <%= p.price %>
                </p>
                <p>
                    <%= p.quantity %>
                </p>
                <p>
                    <img src="<%= p.photo %>" alt="img-comida">
                </p>
                <%})}; %>
    </div>
    <div class="container">
        <button class="btn btn-primary"><a href="/order" class="login">Terminar</a></button>
    </div>
</body>

</html>